PORT=5000
DATABASE_URL=postgresql://LOCAL_USERNAME:LOCAL_PASSWORD@localhost:PORT/si-docflow
AI_MODEL_NAME=fastvit_sa24_h_e_bifpn_256_fp32.onnx
AI_MODEL_DOWNLOAD_URL2=https://docs.google.com/uc?export=download&id=14vUH77v6yGg7zFctUgcT6BzV5Iisg4Dl
AI_MODEL_DOWNLOAD_URL=https://drive.usercontent.google.com/download?id=14vUH77v6yGg7zFctUgcT6BzV5Iisg4Dl&export=download&authuser=0